@model Dignos.Entities.ClientInfo
@using Dignos.Entities;

<style>
     body
    {
        margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
    }

       .button-20 {
       
  appearance: button;
  background-color: #4D4AE8;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
  border: 1px solid #4D4AE8;
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-20:focus:not(:focus-visible),
.button-20:focus {
  outline: 0;
}

.button-20:hover {
  background-color: #3733E5;
  border-color: #3733E5;
}

.button-20:focus {
  background-color: #413FC5;
  border-color: #3E3BBA;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.button-20:active {
  background-color: #3E3BBA;
  background-image: none;
  border-color: #3A38AE;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.button-20:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.button-20:disabled {
  background-image: none;
  box-shadow: none;
  opacity: .65;
  pointer-events: none;
}
    .buttonContainer
    {
        display: flex;
         justify-content: center;
    }
    .buttonContainer button
    {
        margin-top: 20px;
    }
</style>
<link rel="stylesheet" href="/css/client.css">


<div class="d-flex justify-content-center">

<div class="card" style="width: 40rem;">

    <div class="card-header pb-0">
        <h2>Update Client Info</h2>
    </div>

    <div class="card-body">


<form asp-action="update" method="post">
    <input type="hidden" asp-for="Id">
    <div class="row g-2">
        <div class="col-4">
            <label class="form-label" asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" required>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="col-4">
            <label class="form-label" asp-for="MiddleName"></label>
            <input asp-for="MiddleName" class="form-control" required>
            <span asp-validation-for="MiddleName" class="text-danger"></span>
        </div>

        <div class="col-4">
            <label class="form-label" asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" required>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="col-6 ">
            <label class="form-label" asp-for="Address"></label>
            <input asp-for="Address" class="form-control" required>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="col-6">
            <label class="form-label" asp-for="Zipcode"></label>
            <input asp-for="Zipcode" class="form-control" required>
            <span asp-validation-for="Zipcode" class="text-danger"></span>
        </div>

        <div class="col-4">
            <label class="form-label" asp-for="Birthday"></label>
            <input asp-for="Birthday" class="form-control" required>
            <span asp-validation-for="Birthday" class="text-danger"></span>
        </div>

        <div class="col-4">
            <label class="form-label" asp-for="Age"></label>
            <input asp-for="Age" class="form-control" required>
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>

        <div class="col-4">
            <label class="form-label" asp-for="UserType"></label>
            <select asp-for="UserType" class="form-select" required>
                @foreach (var UserType in (List<UserType>)ViewData["UserType"])
                {
                    <option value="@UserType.Id">@UserType.Name</option>
                }
            </select>
            <span asp-validation-for="UserType" class="text-danger"></span>
        </div>

        <div class="col-6">
            <label class="form-label" asp-for="NameOfFather"></label>
            <input asp-for="NameOfFather" class="form-control" required>
            <span asp-validation-for="NameOfFather" class="text-danger"></span>
        </div>

        <div class="col-6">
            <label class="form-label" asp-for="NameOfMother"></label>
            <input asp-for="NameOfMother" class="form-control" required>
            <span asp-validation-for="NameOfMother" class="text-danger"></span>
        </div>

        <div class="col-6">
            <label class="form-label" asp-for="CivilStatus"></label>
            <input asp-for="CivilStatus" class="form-control" required>
            <span asp-validation-for="CivilStatus" class="text-danger"></span>
        </div>

        <div class="col-6">
            <label class="form-label" asp-for="Religion"></label>
            <input asp-for="Religion" class="form-control" required>
            <span asp-validation-for="Religion" class="text-danger"></span>
        </div>

        <div class="col-12">
            <label class="form-label" asp-for="Occupation"></label>
            <input asp-for="Occupation" class="form-control" required>
            <span asp-validation-for="Occupation" class="text-danger"></span>
        </div>
    </div>

   <div class="buttonContainer">
    <button type="submit" class="button-20" value="Submit">Update</button>
   </div>
    

</form>
